<!DOCTYPE html>
<html Lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OdegaardVacancy</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="main-container">

        <div id="header-container">
            <div id="header-content-container">
                <h1 id="header-text">Total Population At Odegaard</h1>
                <div id="total-population-container">
                    <h1 id="total-poplation">UPDATE THIS</h1>
                </div>
            </div>
        </div>

        <div id="bottom-container">

            <div id="left-container">
                <div id="left-header-container">
                    <h1 id="header-text">West Library</h1>
                </div>
                <div id="left-container-content">
                    <h1 id="left-container-population">UPDATE THIS</h1>
                </div>
            </div>

            <div id="right-container">
                <div id="right-header-container">
                    <h1 id="header-text">East Library</h1>
                </div>
                <div id="right-container-content">
                    <h1 id="right-container-population">UPDATE THIS</h1>
                </div>
            </div>

        </div>

    </div>
</body>
</html>